<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>R2S|ABOUT</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://www.w3schools.com/lib/w3.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif ; width:"100%"}
</style>
<body>
<!-- Start Content -->
<div id="home" style="height:1080;width:1920;">

<!-- About -->
<div id="about" class="w3-container w3-red w3-grayscale w3-xlarge w3-padding-64;">
<h1 class="w3-center w3-jumbo">About</h1>
<p>R2S cafe is a collection of culinary experiences that deliver authentic food made by genuine people. Our cafe draws inspiration from the diversity of fresh ingredients readily available here, and the tradition of unforgettable but humble family feasts. In short, we create experiences that feel like home – come eat with us!
Our mission is to always deliver fresh, high-quality farm/sea-to-table product at a great value in and in a warm setting.

We are familiar, comfortable and consistent.</p>
<p>We are proud of our interiors.</p>
<p class="w3-padding-16 w3-stretch">
<img src="static/img/cafe5.jpeg" style="width:100%" alt="Restaurant">
</p>
<h1><b>Opening Hours</b></h1>
<div class="w3-row">
<div class="w3-half">
  <p>Mon & Tue CLOSED</p>
  <p>Wednesday 10.00 - 24.00</p>
  <p>Thursday 10:00 - 24:00</p>
</div>
<div class="w3-half">
  <p>Friday 10:00 - 12:00</p>
  <p>Saturday 10:00 - 23:00</p>
  <p>Sunday Closed</p>
</div>
</div>    
</div>

<!-- End Content -->
</div>
</body>
</html>
