<!DOCTYPE html>
<html>
    <head>
        <title>R2S | ORDER</title>
        <meta name="description" content="This is the description">
        <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
        <script src="static/js/store.js" async></script>
    </head>
    <form action="{{url_for('menu')}}" method='post'>
    <body>
        <header class="main-header">
        
            <h1 class="band-name band-name-large">ORDER HERE!</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">PIZZA</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Margherita</span>
                    <img class="shop-item-image" src="static/img/VPZ2.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹120.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">VERY VEGGIE SEMIZZA</span>
                    <img class="shop-item-image" src="static/img/VPZ1.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹251.0</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">NAPOLI VEGGIES PIZZA</span>
                    <img class="shop-item-image" src="static/img/VPZ3.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹325.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">SMOKEY SAUSAGE AND ONION PIZZA</span>
                    <img class="shop-item-image" src="static/img/NVPZ1.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹430.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">MEAT TOWN</span>
                    <img class="shop-item-image" src="static/img/NVPZ2.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹510.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">PASTA</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">LASAGNA</span>
                    <img class="shop-item-image" src="static/img/LASAGNA.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹199.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">RAVIOLI</span>
                    <img class="shop-item-image" src="static/img/ravioli.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹169.99</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">SPAGHETTI CLASSICA</span>
                    <img class="shop-item-image" src="static/img/spaghetti.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹249.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
           <div class="shop-item">
                    <span class="shop-item-title">BHUNA CHICKEN QUESADILLA</span>
                    <img class="shop-item-image" src="static/img/BHUNA.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹242.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
          <div class="shop-item">
                    <span class="shop-item-title">BUTTER CHICKEN MAC N CHEESE PASTA</span>
                    <img class="shop-item-image" src="static/img/BUTTER CHICKEN.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹242.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
         <section class="container content-section">
            <h2 class="section-header">STARTERS</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">TODAY'S SOUP</span>
                    <img class="shop-item-image" src="static/img/SOUP.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹199.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">BRUSCHETTA</span>
                    <img class="shop-item-image" src="static/img/BRUSCHETTA.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹150.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">GARLIC BREAD</span>
                    <img class="shop-item-image" src="static/img/GARLIC.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹199.O</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               <div class="shop-item">
                    <span class="shop-item-title">CHEESY CHICKEN MEAT BALLS</span>
                    <img class="shop-item-image" src="static/img/MEATBALLS.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹115.O</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
              <div class="shop-item">
                    <span class="shop-item-title">CHICKEN 65</span>
                    <img class="shop-item-image" src="static/img/CHICKEN65.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹320.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
<section class="container content-section">
            <h2 class="section-header">DESSERTS</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">OREO BROWNIE</span>
                    <img class="shop-item-image" src="static/img/OREO.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹110.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">CHOCOLATE SHOT</span>
                    <img class="shop-item-image" src="static/img/CHOCOSHOT.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹90.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">CHOCOLATE DESSERT JAR</span>
                    <img class="shop-item-image" src="static/img/CHOCOJAR.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹221.O</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               <div class="shop-item">
                    <span class="shop-item-title">HAZELNUT BROWNIE</span>
                    <img class="shop-item-image" src="static/img/HAZELNUT.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹110.O</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
              <div class="shop-item">
                    <span class="shop-item-title">CHOCO LAVA CAKE</span>
                    <img class="shop-item-image" src="static/img/LAVA.jpeg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₹100.0</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column" >ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column"name="qty">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>

            <div class="cart-total">
                <strong class="cart-total-title" name="total">Total</strong>
                <span class="cart-total-price" name="tot">₹0</span>
            </div>
             <div class='form-group'>
          <label>Please re-enter the total amount and quantity to confirm</label>
          <input  name='tot' required class='form-control'>
                 <input  name='qty' required class='form-control'>
        </div>
            <a href ="{{url_for('Order')}}">  <button class="btn btn-primary btn-purchase" type="submit">PURCHASE</button></a>
        </section>

    </body>
</html>